<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Euterpe Project</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ site.baseurl }}/style/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="{{ site.baseurl }}/style/css/scrolling-nav.css" rel="stylesheet" type="text/css">
    
    <!--CSS Timeline-->
    <link href="{{ site.baseurl }}/style/css/timeline.css" rel="stylesheet" type="text/css">

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">